body {
  background: url(../images/rome-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 30px;
  color: white;
}

p {
  font-size: 20px;
}

/* Layout of Boxes */

.title-box,
.instructions,
.random,
.win-total,
.loss-total,
.score-header,
.wins-total,
.score-header,
.score {
  border: lightgrey inset;
  border-width: 0.5em;
}

.title-box {
  padding: 1em;
  background: #ff66a4;
  text-align: center;
}

.instructions {
  background-color: #fff;
}

.random {
  background-color: #ff66a4;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.loss-total,
.wins-total {
  text-align: center;
  background-color: #4ce0ff;
  color: white;
  padding-top: 10px;
  font-weight: 500;
}

.score-header,
.score {
  padding: 0.5em;
  background: #4ce0ff;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

/* Coins */

.coins {
  border: whitesmoke;
  border-width: 0.1em;
}

.coin1,
.coin2,
.coin3,
.coin4,
.crystal-image {
  height: 100px;
  width: 100px;
  border: lightgrey outset;
  border-width: 0.1em;
  margin: 1em 0.2em;
  padding: 0.5em;
  float: left;
  border-radius: 50%;
}

.coin1:hover,
.coin2:hover,
.coin3:hover,
.coin4:hover {
  height: 110px;
  width: 110px;
}

.coin1 {
  background-image: url("../images/coin1.jpg");
  background-size: 100%;
}

.coin2 {
  background-image: url("../images/coin2.jpg");
  background-size: 100%;
}

.coin3 {
  background-image: url("../images/coin3.jpg");
  background-size: 100%;
}

.coin4 {
  background-image: url("../images/coin4.jpg");
  background-size: 100%;
}

/* --------------------------------------------- */
/****** thinking about adding the value on press ******/

.coin1 p,
.coin2 p,
.coin3 p,
.coin4 p {
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  padding-top: 0.6em;
  /* visibility: hidden; */
}
/* --------------------------------------------- */

/* Music button */
.btn-on,
.btn-off {
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}
